i.icon {
    font-size: 2rem;
}

.container.main {
    margin-top: 6rem;
}

.ui.text.container{
    max-width: 800px !important;
}

#deleteBtn {
    display: inline;
}

.inverted.button {
    width: 80px;
}

.extra .inverted.button {
    width: 120px;
}

.big.blue.button {
    width: 150px;
}